@media (min-width: 580px) {
    .filterProducts {
        width: 970px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        row-gap: 27px;
        column-gap: 25px;

        &-prod {
            opacity: 1;
            width: 255px;
            padding: 24px 21px 27px 19px;
            border: 2px solid #EFEFEF;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            transition: opacity 0.5s ease;

            &-image {
                opacity: 1;
                width: 188px;
                height: 188px;
                border-radius: 12px;
                transition: opacity 0.5s ease;
            }

            &-aboutItem {
                display: flex;
                flex-direction: column;
                gap: 8px;

                &-textStars {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &-stars {
                        display: flex;
                        align-items: center;
                        gap: 13px;

                        &-starsBox {
                            display: flex;
                            gap: 1px;
                        }
                    }
                }

                &-text {
                    font-weight: 500;
                    font-size: 16px;
                    color: #1F2533;
                }

                &-btnBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-price {
                        font-size: 28px;
                        font-weight: 600;
                        color: #1F2533;
                    }

                    &-cartImg {
                        width: 48px;
                        height: 48px;
                        padding: 12px;
                        border: 1px solid #EFEFEF;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    .productsTwinBox{
        display: flex;
        gap: 37px;
    }

    .filterBtn{
        margin-top: 25px;
        margin-bottom: 24px;
    }

    .OpenFilterBtn{
        display: none;
    }
}

@media (max-width: 580px) {

    .productsTwinBox{
        position: relative;
    }

    .filterBoxPlan{
        width: 100%;
        height: 70vh;
        position: absolute;
        top: 35px;
        background-color: #FFFFFF;
    }
    

    .OpenFilterBtn{
        display: flex;
        align-items: center;

        &-mention{
            font-weight: 400;
            font-size: 14px;
            color: #1F2533;
        }

        &-img{
            padding-top: 5px;
        }
    }
    .filterProducts {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-prod {
            width: 100%;
            height: 490px;
            padding: 28px;
            border: 2px solid #EFEFEF;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;

            &-image {
                width: 100%;
                height: 290px;
                border-radius: 12px;
            }

            &-aboutItem {
                display: flex;
                flex-direction: column;
                gap: 8px;

                &-textStars {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &-stars {
                        display: flex;
                        align-items: center;
                        gap: 13px;

                        &-starsBox {
                            display: flex;
                            gap: 1px;
                        }
                    }
                }

                &-text {
                    font-weight: 500;
                    font-size: 16px;
                    color: #1F2533;
                }

                &-btnBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-price {
                        font-size: 28px;
                        font-weight: 600;
                        color: #1F2533;
                    }

                    &-cartImg {
                        width: 48px;
                        height: 48px;
                        padding: 12px;
                        border: 1px solid #EFEFEF;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    .filterBtn {
        display: none;
    }
}