.headCont {
    width: 100%;
    height: 455px;
    background-color: #EAF1EB;
    margin-top: 32px;
    border-radius: 24px;
    position: relative;
    z-index: 2;
    padding: 48px 0px 52px 76px;
    display: flex;
    flex-direction: column;
    gap: 21px;

    &-priceBox {
        display: none;
    }

    &-twoMainText {
        display: flex;
        flex-direction: column;
        gap: 12px;


        &-h2 {
            font-size: 48px;
            color: #1F2533;
            font-weight: 600;
        }

        &-h3 {
            font-size: 16px;
            color: #1F2533;
            font-weight: 300;
            line-height: 28px;
            flex-wrap: wrap;
        }
    }


    &-pricesAndAddCartBox {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-priceBox {
            display: flex;
            align-items: center;
            gap: 15px;

            &-fireImg {
                width: 46px;
            }

            &-newPrice {
                font-weight: 600;
                font-size: 42px;
                color: #1F2533;
            }


            &-oldPrice {
                font-weight: 600;
                font-size: 22px;
                color: #70737C;
                text-decoration: line-through;
            }
        }

        &-buttonBox {
            display: flex;
            align-items: center;
            gap: 10px;

            & button {
                width: 153px;
                height: 51px;
                border-radius: 8px;
                padding: 11px, 33px, 11px, 33px;
                border: none;
            }

            &-add {
                background-color: #359740;
                color: white;
                cursor: pointer;
            }

            &-add:hover {
                background-color: #2BB159;
            }

            &-add:focus {
                background-color: #4FA083;
            }

            &-discover {
                background-color: #FFFFFF;
                color: #359740;
            }
        }
    }
}

@media (min-width: 580px) {
    .MediaGroupLeaves {
        display: none;
    }

    .SeedPacket {
        display: none;
    }

    .headCont-mediaButtons {
        display: none;
    }
}

.seedPacket {
    height: 349px;
    position: absolute;
    top: 67px;
    left: 800px;
    z-index: 1;
}

.greenLives {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.freshLeaves {
    position: absolute;
    top: 0px;
    right: 0px;
}

.freshIsolated {
    position: absolute;
    right: 240px;
    top: 290px;
}

.inHead {
    width: 100%;
    height: 104px;
    background-color: #FFE62E17;
    border-radius: 12px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px 0px;

    &-sell {
        font-size: 24px;
        font-weight: 600;
    }

    &-sprout {
        font-size: 16px;
        font-weight: 500;
    }
}

@media(max-width: 580px) {
    .headCont {
        width: 100%;
        height: auto;
        padding: 80% 22px 50px 14px;
        position: relative;

        &-priceBox {
            display: flex;
            align-items: center;
            gap: 15px;

            &-fireImg {
                width: 46px;
            }

            &-newPrice {
                font-weight: 600;
                font-size: 32px;
                color: #1F2533;
            }

            &-oldPrice {
                font-weight: 600;
                font-size: 22px;
                color: #70737C;
                text-decoration: line-through;
            }
        }

        &-twoMainText {
            display: flex;
            flex-direction: column;

            &-h2 {
                font-size: clamp(1.5rem, 0.805rem + 2.93vw, 3rem);
            }

            &-h3 {
                font-size: clamp(0.813rem, 0.726rem + 0.37vw, 1rem);
            }
        }

        &-pricesAndAddCartBox {
            display: none;
        }

        &-mediaButtons {
            margin-top: 18px;
            display: flex;
            align-items: center;
            gap: 10px;

            & button {
                width: 153px;
                height: 51px;
                border-radius: 8px;
                padding: 11px, 33px, 11px, 33px;
                border: none;
            }

            &-add {
                background-color: #359740;
                color: white;
                cursor: pointer;
            }

            &-add:hover {
                background-color: #2BB159;
            }

            &-add:focus {
                background-color: #4FA083;
            }

            &-discover {
                background-color: #FFFFFF;
                color: #359740;
            }
        }

        .SeedPacket {
            position: absolute;
            width: 188px;
            right: 10%;
            top: 5%;
        }

    }

    .headImages {
        display: none;
    }

    .MediaGroupLeaves {
        position: absolute;
        top: 0;
        left: 0px;
        border-top-left-radius: 24px;
    }

    .mediaBottomLeaf {
        position: absolute;
        top: 156px;
        left: 13px;
    }

    // .mediaSeedPacket {
    //     position: absolute;
    //     width: 178px;
    //     top: 41px;
    //     left: 20%;
    // }

    .inHead {
        display: none;
    }
}