.productFilters {
    margin-left: -290px;

    &-seedTypes {
        &-mention {
            width: 100%;
            border-bottom: 1px solid;
            padding: 5px 0px;
        }

        &-options {
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s ease, height 0.5s ease;
            height: 0;
            overflow: hidden;

            &-optionRadio {
                padding: 10px 0px;
            }
        }
    }
}

.prodTypesActive {
    transition: all 1s ease;
    margin-left: 0;
}

.optionsOpen {
    opacity: 1;
    height: 135px;
    transition: opacity 1s ease, height 1s ease;
}