.productFilters {
    width: 254px;

    &-mention{
        border-bottom: 1px solid #EFEFEF;
        padding-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        color: #1F2533;
    }

    &-seedTypes {
        &-mention {
            width: 100%;
            border-bottom: 1px solid #EFEFEF;
            padding: 14px 0px 12px 0px;
            font-weight: 500;
            font-size: 16px;
            color: #1F2533;
        }

        &-options {
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s ease, height 0.5s ease;
            height: 0;
            overflow: hidden;

            &-optionRadio {
                padding: 10px 0px;

                &-label{
                    color: #70737C;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
    }
}

.optionsOpen {
    opacity: 1;
    height: 195px;
    transition: opacity 1s ease, height 1s ease;
}

@media (max-width: 580px) {
    .productFilters{
        padding: 10px;
        width: 90vw;
        box-shadow: 0px 1px 3px black;
        margin-bottom: 10px;
    }
}
