.personInfoAddressBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 730px;

    & label {
        font-weight: 400;
        font-size: 14px;
        color: #70737C;
    }

    & input {
        border: 1px solid #EFEFEF;
        border-radius: 4px;
        padding: 14px 0px 14px 24px;
        width: 350px;
        height: 56px;
    }

    & input:hover {
        box-shadow: 0px 1px 6px 0px #00000052;
    }

    & input:focus {
        outline: none;
    }
}

.personInfoBox {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-mention {
        font-weight: 600;
        font-size: 24px;
        color: #1F2533;
    }

    &-inputs {
        display: flex;
        gap: 30px;

        &-nameBox {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        &-numberBox {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }


    }
}

.personAddressBox {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-mention {
        font-weight: 600;
        font-size: 24px;
        color: #1F2533;
    }

    &-inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-stateCity {
            display: flex;
            gap: 30px;

            &-state,
            &-city {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }
        }

        &-streetZIP {
            display: flex;
            
            justify-content: space-between;


            &-street,
            &-ZIP {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }
        }
    }
}

@media (max-width: 580px) {

    .personInfoAddressBox{
        width: 85vw;
    }
    .personInfoBox{
        width: 345px;

        &-mention{
            font-size: 16px;
            font-weight: 500;
        }

        &-inputs{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .personAddressBox{
        width: 345px;

        &-mention{
            font-size: 16px;
            font-weight: 500;
        }

        &-inputs{
            display: flex;
            flex-direction: column;
            gap: 20px;
        

            &-stateCity{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &-streetZIP{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    .personInfoAddressBox{
        & label{
            font-size: 12px;
        }

        & input{
            width: 85vw;
            height: 8vh;
        }
    }
}