.productBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;

    &-imgBox {
        display: flex;

        &-img {
            width: 445px;
            height: 445px;
        }
    }

    &-packsBox {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        &-mainTextBox {
            display: flex;
            flex-direction: column;
            gap: 15px;


            &-mainText {
                font-weight: 600;
                font-size: 24px;
                color: #1F2533;
            }

            &-btns {
                display: flex;
                gap: 11px;

                &-available {
                    width: 147px;
                    height: 40px;
                    border-radius: 119px;
                    background-color: #35974014;
                    color: #4FA083;
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }

                &-typePlant {
                    width: 176px;
                    height: 40px;
                    border: 1px solid #EFEFEF;
                    background-color: white;
                    border-radius: 119px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }
            }
        }

    }
}

.allPacks {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-sizeQty {
        display: flex;
        justify-content: space-between;

        &-size {
            display: flex;
            align-items: center;
            gap: 9px;

            &-mention {
                font-size: 14px;
                font-weight: 400;
                color: #70737C;
            }

            &-text {
                font-size: 16px;
                color: #1F2533;
                font-weight: 500;
            }
        }

        &-btnBox {
            display: flex;
            align-items: center;
            gap: 8px;
            border: 1px solid #EFEFEF;
            border-radius: 11px;
            padding: 5px 15px;

            &-plus {
                font-size: 26px;
                color: #359740;
            }

            &-minus {
                font-size: 26px;
                color: #359740;
            }

            &-number {
                border-radius: 6px;
                background-color: #35974014;
                padding: 5px 10px;
            }
        }
    }

    &-addCartBox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-price {
            display: flex;
            flex-direction: column;

            &-old {
                font-weight: 500;
                font-size: 16px;
                color: #70737C;
            }

            &-new {
                font-weight: 600;
                font-size: 28px;
                color: #1F2533;
            }
        }

        &-btn {
            padding: 11px 33px;
            background-color: #359740;
            border-radius: 8px;
            color: white;
            border: none;
        }

        &-btn:hover {
            background-color: #2BB159;
        }
    }

    // &-numberOfPacks {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 8px;

    //     &-packDiv {
    //         padding: 14px 17px 14px 12px;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         border: 1px solid #4FA083;
    //         border-radius: 8px;

    //         &-numberDiv {
    //             display: flex;
    //             gap: 13px;

    //             &-img {
    //                 width: 18px;
    //                 color: green;
    //             }
    //         }
    //     }
    // }
}

.productInfoBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &-mention {
        font-size: 36px;
        font-weight: 600;
        color: #1F2533;
        padding: 24px 0px;
        border-bottom: 1px solid #EFEFEF;
    }
}

.textDimensions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-text {
        color: #1F2533;
        font-weight: 300;
        font-size: 16px;
        width: 50%;
    }

    &-dimensionsBox {
        height: 198px;
        width: 40%;
        padding: 14px 24px;
        border: 1px solid #EFEFEF;
        border-radius: 12px;


        &-packageDimensions {
            padding: 15px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-text {
                font-weight: 400;
                font-size: 14px;
                color: #70737C;
                line-height: 28px;
            }

            &-result {
                font-weight: 500;
                font-size: 16px;
                color: #1F2533;
            }
        }

        .middo {
            border-top: 1px solid #EFEFEF;
            border-bottom: 1px solid #EFEFEF;
        }

    }
}

// .spoPoint::before {
//     content: "O";
//     min-width: 5px;
//     height: 5px;
//     border-radius: 50%;
//     background-color: black;
// }

@media (max-width: 580px) {
    .productBox {
        display: flex;
        flex-direction: column;
    }

    .textDimensions {
        display: flex;
        flex-direction: column;
        gap: 22px;

        &-text {
            width: 100%;
        }

        &-dimensionsBox {
            width: 100%;
        }
    }
}