.myProfile {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 580px) {
    .profileNav {
        min-width: 180px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.profileNav{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profileNav2 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0px 5px 10px 0px;
    border-bottom: 1px solid #359740;

    .profileLink {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 0px 5px 10px;
        color: #70737C;

    }

    .myProfileLink {
        font-size: 16px;
    }

    .active {
        color: #359740;
        border-left: 2px solid;
    }

}

.logOutBox {
    color: #359740;
    display: flex;
    align-items: center;
    gap: 10px;

    &-text {
        font-size: 14px;
        padding-bottom: 4px;
    }
}

.logOutModal {
    position: fixed;
    top: 40%;
    left: 35%;
    padding: 40px 30px 20px 30px;
    background-color: white;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    box-shadow: 2px 2px 5px;
    transition: width 1s ease;
    scale: 0;
    z-index: 500;

    &-textBox {
        display: flex;
        flex-direction: column;
        text-align: center;

        &-log {}
    }

    &-btns {
        display: flex;
        gap: 20px;
        align-self: flex-end;
    }
}

.logOutActive {
    width: 500px;
    scale: 1;
    transition: scale 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayLogOut {
    z-index: 400;
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.5;
}



@media (max-width: 580px) {

    .logOutModal{
        
        position: fixed;
        top: 30%;
        left: 15%;

        &-textBox{

            &-text{
                font-size: 12px;
            }
        }
    }

    .logOutActive{
        width: 300px;
    }
    .myProfile {
        width: 90vw;
    }

    .myProfileLink {
        display: none;
    }

    .logOutBox {
        color: #359740;
        display: flex;
        align-items: center;
        gap: 5px;

        &-text {
            font-size: 10px;
            padding-bottom: 4px;
            display: none;
        }
    }
}